.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  background-color: #007bff;
  min-height: 40px;
}

.name {
  position: absolute;
  left: 0;
  width: 15%;
}

.searchLabel {
  position: absolute;
  left: 25%;
  width: 50%;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 8px 8px 8px 32px;
  border: 2px solid transparent;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  outline: none;
}

.searchIcon {
  position: absolute;
  left: 8px;
  color: white;
}
.searchInput::placeholder {
  color: #bfbfe5;
}