.searchBar {
  display: flex;
  justify-content: space-between;  // Распределение элементов по обеим сторонам
  align-items: center;  // Выравнивание элементов по вертикали
  padding: 10px;
  background-color: #007bff;
}

.searchLabel {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;  // Позволяет searchLabel расти, но не более 50%
  max-width: 50%;  // Ограничивает максимальную ширину
}

.searchInput {
  width: 100%;  // Занимает всю доступную ширину в searchLabel
  padding: 8px 8px 8px 32px;  // Подгонка внутренних отступов
  border: 2px solid transparent;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  outline: none;
}

.searchIcon {
  position: absolute;
  left: 8px;
  color: white;
}

.searchInput::placeholder {
  color: #bfbfe5;
}
