.searchBar {
  display: flex;
  align-items: center;
  justify-content: center; /* Центрируем элементы */
  position: relative;
  padding: 10px;
  background-color: #007bff;
  min-height: 40px; /* Задаем минимальную высоту */
}

.searchLabel {
  position: absolute;
  left: 25%; /* Центрируем searchLabel относительно начала */
  width: 50%; /* Ширина элемента равна половине ширины родителя */
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  padding: 8px 8px 8px 32px; /* Отступ слева для иконки */
  border: 2px solid transparent;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  outline: none;
}

.searchIcon {
  position: absolute;
  left: 8px; /* Позиционирование от левого края input */
  color: white;
}
.searchInput::placeholder {
  color: #bfbfe5;
}