.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #007bff;
  justify-content: flex-start;
}

.header {
  padding: 16px 8px 17px 19px;
  display: flex;
  border-bottom: 1px solid var(--mui-palette-adminSidebar-border);
  box-sizing: border-box;
  justify-content: flex-start;
}

.content {
  flex-grow: 1;
  justify-content: flex-start;
}
