.root {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebar {
  width: 590px;
  height: 100%;
  background: var(--mui-palette-adminSidebar-background);
}

.content {
  flex: 1;
  overflow: auto;
  background-color: #e9e9e9;
}
