.root {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; // Расстояние между блоками
}

.block {
    border: 1px solid #ccc; // Цвет рамки блока
    background-color: #f9f9f9; // Цвет фона блока
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); // Тень для блока
}

.header {
    font-size: 16px; // Размер шрифта для заголовка
    font-weight: bold; // Жирность шрифта заголовка
    padding: 12px 10px; // Отступы заголовка
    background-color: #eee; // Цвет фона заголовка
    border-bottom: 1px solid #ddd; // Разделитель под заголовком
}

.row {
    &:hover {
        background-color: #e9f4ff; // Цвет фона строки при наведении
    }
}

.fullWidthCell {
    display: flex;
    flex-direction: column; // Вертикальное выравнивание элементов в ячейке
    align-items: start; // Выравнивание элементов по левому краю
    padding: 10px; // Отступы внутри ячейки

    .MuiTypography-subtitle {
        margin-bottom: 4px; // Отступ под заголовком элемента
        color: #333; // Цвет текста заголовка
        font-weight: bold; // Жирность текста заголовка
    }

    .MuiTypography-body {
        color: #666; // Цвет основного текста
    }
}

.icons {
    display: flex;
    justify-content: flex-end; // Выравнивание иконок по правому краю
    margin-top: 8px; // Отступ сверху для группы иконок

    .MuiIconButton-root {
        margin-left: 8px; // Отступ между иконками
    }
}